// submit

.button-submit {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: var(--c-primary__blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--c-text__white);

  transition: 
    background-color 250ms cubic-bezier(.17, .67, .83, .67);
    
    &:hover,
    &:focus
      background-color: var(--c-hover__blue);
}


// hero
.button__hero {

  min-height: 50px;
  /*so a button changes size if we type more text*/
  min-width: 216px;
  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;

  color: var(--c-text__white);
  background-color: var(--c-primary__blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition:
    background-color 250ms var(--transition-cubic-bezier),
    box-shadow 250ms var(--transition-cubic-bezier);

    &:hover,
    &:focus
      background-color: var(--c-hover__blue);
}

// close

.button-close__icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
  transition:
    fill 250ms cubic-bezier(.17, .67, .83, .67);


  &:hover .button-close__icon,
  &:focus .button-close__icon
    fill: var(--c-primary__blue);
}

// subscribe

.button__subscribe {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 200px;
  height: 50px;
  margin-left: 12px;

  background: var(--c-primary__blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--c-text__white);
    
    &:hover,
    &:focus
      background-color: var(--c-hover__blue);
    }
