.checkbox__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox__input {
  appearance: none;

}

.checkbox__custom {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #fff;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--c-secondary__black);
  border-radius: 2px;

}

.checkbox__input:checked+.checkbox__custom {
  background-color: var(--c-primary__blue);
  border-color: var(--c-primary__blue);
}

.checkbox__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--c-text__grey);
}

.checkbox__link {
  margin-left: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--c-primary__blue);
}